{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ user.get_full_name }}'s Profile</h1>

    {% if user.profile.user_area.pk == 0 %}
        <p style="color:#FF0000";>Please select an area in the city of Cape Town </p>
    {%else%}
        <p>Your area of interest is {{user.profile.user_area.area_name}} with area code {{user.profile.user_area.area_code}} </p>
    {% endif %}

    <p>For time interval from {{ user.profile.user_time_start|time:"H:i" }} until {{ user.profile.user_time_end|time:"H:i" }} every day</p>
    
    {% if user.profile.user_hour_cost == NULL %}
        <p style="color:#FF0000";>Please assign a hourly cost </p>
    {%else%}
        <p>With a cost rate of R{{user.profile.user_hour_cost}} /hour </p>
    {% endif %}

    <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit</a> 

{% endblock %}


